.hero {
  $hero-background-top:$accent-background-color;//$base-background-color;// darken($base-accent-color, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: $dark-gray;
  $gradient-angle: 10deg;
  // $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  // @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  // background-repeat: no-repeat;
  // background-position: top;
  // background-size: cover;
  // padding-bottom: 4em;
  background-color: $accent-background-color;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 4em 0;
    margin: auto;
    text-align: left;
    color: $hero-color;


    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      //text-align: center;

      padding: 0 4% 0 4.5%;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 2em;
        }
      }

      p {
        margin-bottom: 2em;

        @include media($large-screen) {
          // font-size: 1.125em;
          // max-width: 87%;

        }
      }
    }
  }
}

.left-column, .hero-copy {
      @include span-columns(12); //padding, etc in modules/_article
      padding: 0 1em 3em 1em;
      @include media($medium-screen-up) {
        @include span-columns(6 of 12); //padding, etc in modules/_article
      }
    }


// Book cover effect in hero

.cover-transform-1 {
  display: none;
}

@include media($large-screen-up) {

  .cover-transform-1 {
    display: inline-block;
  }
.cover-transform-1 img, .cover-transform-2 img, .cover-transform-3 img {
  height: 335px;
  margin-left: 3.5em;
}

.cover-transform-1 img {
  -moz-transform: scale(0.95) rotate(-4deg);
-webkit-transform: scale(0.95) rotate(-4deg);
-o-transform: scale(0.95) rotate(-4deg);
-ms-transform: scale(0.95) rotate(-4deg);
transform: scale(0.95) rotate(-4deg);
}

.cover-transform-2TK img {
  margin-left: -2em;
  -moz-transform: scale(1) rotate(-1deg);
-webkit-transform: scale(1) rotate(-1deg);
-o-transform: scale(1) rotate(-1deg);
-ms-transform: scale(1) rotate(-1deg);
transform: scale(1) rotate(-1deg);
}


.cover-transform-2 img {
  margin-left: -2em;
  -moz-transform: scale(1.05) rotate(4deg);
-webkit-transform: scale(1.05) rotate(4deg);
-o-transform: scale(1.05) rotate(4deg);
-ms-transform: scale(1.05) rotate(4deg);
transform: scale(1.05) rotate(4deg);
}

}
