blockquote {
  border: none;
}
blockquote {
  margin: 0 auto 1em auto;
  line-height: 1.4em;
  font-family: $serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
}
blockquote.pull_quote {
  font-size: 1.5rem;
}
blockquote:before {
  content: "\201C";
  font-size: 2rem;
  position: relative;
  left: -0.55em;
  margin-right:-0.55em;
  display:inline;
}
blockquote.long_quote:before {
  top: .25em;
}
blockquote:after {
  content: "\201D";
  font-size: 2rem;
  position: relative;
  right: 0;
  top: .1875em;
  line-height: .2em;
}
blockquote.pull_quote p, blockquote.long_quote p:last-child {
  display: inline;
}
blockquote.long_quote p:first-child {
display: inline;
}
