body.splash #container-review-single {
  display:none;
}

blockquote.long_quote, blockquote.long_quote p {
  //width: 86.440678%; /* 510px / 590px = 86.440678% */
  margin: 0 auto 1em auto;
  font-size: 1.2rem;
  line-height: 1.4em;

  font-family: $serif;
  font-style: normal;
  font-weight: 500;
  position: relative;
  //display: inline;
}

blockquote.long_quote:before {
  content: "\201C";
  font-size: 2rem;
  //color: #9f9f9f;
  position: relative;
  top: 1em;
  left: -0.55em;
  margin-right:-0.375em;
display:inline;
}



blockquote.long_quote:after {
  content: "\201D";
  font-size: 2rem;
  //color: #9f9f9f;
  position: relative;
  //bottom: -2.75em;
  right: 0;
  top: .375em;
    line-height: .2em;
//    display:inline;
}
#container-review-single p, blockquote.pull_quote, blockquote.pull_quote p, .aside_quote {

  margin: 0 auto 1em auto;
  font-size: 1.5rem;
  line-height: 1.4em;
  font-family: $serif;
  font-style: normal;
  font-weight: 500;
  position: relative;
  //display: inline;
}

#container-review-single p:before, blockquote.pull_quote:before {
  content: "\201C";
  font-size: 2rem;
  //color: #9f9f9f;
  position: relative;
  //top: 1em;
  left: -0.55em;
  margin-right:-0.5em;
display:inline;
}

#container-review-single p:after, blockquote.pull_quote:after{
  content: "\201D";
  font-size: 2rem;
  //color: #9f9f9f;
  position: relative;
  //bottom: -2.75em;
  right: 0;
    line-height: .2em;
//    display:inline;
}

blockquote.pull_quote p:last-child, blockquote.long_quote p:last-child  {
  display: inline;
}

blockquote.pull_quote  p:last-child {
  //margin-bottom:-20px;
}

blockquote.long_quote p:only-child  {
  position:relative;
  //color: red;
  display: block;
  top: -.125em;
}


.pull_quote_attribution {
  margin-left: 1.25em;
}



.content blockquote.review {

  text-align: center;
  margin: 5em auto;
}


blockquote {
  border: none;
}

// QUOTES

.quote, .quotes p {
  font-size: $base-font-size * 1.6;
  line-height: 1.5;
  font-family: $serif;
}
