<div class="hero">
  <div class="hero-inner">


<section class="left-column">
<h5><a href="/what-im-watching/" style="color:#111;">What I'm Watching</h5>
{% assign featured_post = site.posts | where: 'featured', true %}
    <!-- <h3><a href="/what-im-watching/">What I'm Watching</a></h3> -->
    {% for post in featured_post limit: 1 %}

      {{ post.excerpt }}


      <h4><a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>'  }} </a></h4>
      <hr />
    {% endfor %}



</section>

    <div class="hero-copy">


      {% assign posts = site.categories.news %}
    <h5><a href="/news/" style="color:#111;">News</a></h5>



    {% for news in posts limit: 2 %}

      <div class="column-thirdsTK">
      <!-- <div class="heading">
        <div class="title"> -->
        <h4><a href="{{ news.url }}">{{ news.title }}</a></h4>
        <!-- </div>
        </div> -->

      {{ news.excerpt | strip_html }}
      <hr />
      </div>


    {% endfor %}
    </div>







  </div>
</div>
