<div class="hero">
  <div class="hero-inner">
    <section class="left-column">
      <h5><a href="/what-im-watching/" style="color:#111;">What I'm Watching</a></h5>
      {% assign featured_post = site.posts | where: 'featured', true %}
      {% for post in featured_post limit: 1 %}
        {{ post.excerpt }}
        <h4>
          {% if post.link_to_original %}
          <a href="{{ post.link_to_original }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>'  }} </a>
          {% else %}
          <a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>'  }} </a>
          {% endif %}
        </h4>
      {% endfor %}
    </section>
    <div class="hero-copy">
      {% assign posts = site.categories.news %}
      <h5><a href="/news/" style="color:#111;">News</a></h5>
      {% for news in posts limit: 2 %}
        <div class="post-excerpt">
          <h4><a href="{{ news.url }}">{{ news.title | markdownify | remove: '<p>' | remove: '</p>'  }}</a></h4>
          {{ news.content | strip_html | truncate: 25, '&#8230;'}}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
