<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <h3 class="mobile" style="padding:.25em 0 0 .25em;">
        <a href="/" class="identity">
          {{ site.sitename }}
        </a>
      </h3>
      <ul id="navigation-menu">
        <li id="identity" class="large-screen nav-link"><a href="/" class="identity">{{ site.sitename }}</a></li><br />
        {% for link in site.data.navigation %}
          <li class="nav-link"><a href="{{ link.slug }}"{% if link.link == page.url %} class="active"{% endif %}>{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <h2 class="banner-link">
      <a href="/what-im-watching/">
        What I'm Watching...
      </a>
    </h2>
  </div>
</header>
