# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Vagrant
.vagrant/

# FE Setup
.bin/node_modules/
node_modules
/npm-debug.log.*
/npm-debug.log
/npm-debug.log*

# Hugo
hugo_stats.json
/public/
/generate_export/public/
/prebuild_sanity/public/
bin

# Local Netlify folder
.netlify
sanity_export.ndjson
