{% capture segment_1 %}{{ page.url | remove: '/'}}{% endcapture %}
{% assign posts = site.categories[segment_1] %}
{% for news in posts %}
{% comment %}<h6>{% include category-names.html %}</h6>{% endcomment %}
  <h2 class="post-title"><a href="{{ news.url }}">{{ news.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></h2>
  {% if news.date %}
    <time class='date' datetime="{{ news.date | date:'%Y-%m-%d' }}">
      <small>
        {{ news.date | date:'%A %b %d, %Y' }}
      </small>
    </time>
  {% endif %}

  {% if news.featured_image and news.featured_image !='' %}
  <img src="{{ site.path_assets_images }}{{ news.featured_image}}" >
  {% endif %}


  {% if news.image_path and news.image_path !='' %}
    <img src="{{news.image_path}}" alt="{{ news.title }}" max-width="500px" />
  {% endif %}
  {{ content }}



  {{ news.content }}

  {% if news.publication and news.publication !='' %}
  Read the rest at
        {% if news.link_to_original %}
        <a href="{{news.link_to_original}}">{{ news.publication }} <small><i class="icon-link-ext"></i></small></a>
        {% else %}
          {{news.source}}
        {% endif %}
    {% endif %}
  <hr class="clearing" />
{% endfor %}
