
  {% for item in site.writing | sort: 'date' | reverse %}
    <h2 class="h5 post-title">“{{ item.title }}”</h2>


    {% if item.publication %}
    <small>Appeared in
      {% if item.link_to_original %}
      <a href="{{ item.link_to_original }}">{{ item.publication }} <i class="icon-link-ext"></i></a>
      {% else %}
      {{ item.publication }}
      {% endif %}
      </small>
    {% endif %}
    {% if item.date %}
      <time class='date' datetime="{{ item.date | date:'%Y-%m-%d' }}">
        <small>
          on {{ item.date | date:'%B %-d, %Y' }}
        </small>
      </time>
    {% endif %}

<hr class="clearing" />
  {% endfor %}
