<div class="mb-8 shadow bg-gray-50">

  {{ with .Params.image }}
    <img data-src="{{.}}" alt="" class="w-full mb-2 lazyload">
  {{ end }}


  <div class="">
    <h2 class="max-w-4xl font-sans font-bold leading-tight">
      <a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a>
    </h2>

    <div class="flex-col justify-between h-full font-sans text-sm prose bg-red-200 flexd">
      <div>
        {{ .Content }}
      </div>
      <div class="mt-auto mb-8 text-xs">
        {{ partial "link-to-original" . }}
      </div>
  </div>
  </div>



</div>