{{ with .Params.image }}
  {{ with partialCached "sanity/media/Get" (dict
    "asset" .
    "width" 700
  ) . 700 }}
  <img data-src="{{.}}" alt="" class="max-w-full lazyload md:max-w-md">
  {{ end }}
{{ end }}
<h2 class="max-w-xl text-3xl font-bold">
  <a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a>
</h2>
<time datetime="{{ .Date }}" class="block my-4 font-sans text-xs">
  {{ .Date.Format "Monday January 2, 2006" }}
</time>
<div class="mb-12 prose">
  {{ .Content }}
  <div class="text-base">
    {{ partial "link-to-original" . }}
  </div>
</div>

