{{/*
  GetConfig
  Retrives the configuration of the module

  @author @regisphilibert

  @context Any (.)

  @access private

*/}}
{{ $config := dict "version" "2021-06-07" }}
{{ $version := "2021-06-07" }}
{{ with site.Params.tnd_sanity }}
  {{ $config = merge $config . }}
{{ end }}

{{ with partialCached "huge/env/GetVar" "SANITY_DATASET" "SANITY_DATASET" }}
  {{ $config = merge $config (dict "dataset" .) }}
{{ end }}
{{ with partialCached "huge/env/GetVar" "SANITY_PROJECT_ID" "SANITY_PROJECT_ID" }}
  {{ $config = merge $config (dict "project_id" .) }}
{{ end }}

{{ return $config }}