{{ $header_image := $.Param "image" }} 
<header class="relative bg-white">      
  {{ partial "nav" . }}
  {{with $header_image }}
    <div class="text-white bg-top bg-no-repeat bg-cover" style="height:30rem;background-image:url({{ $header_image }})">
      <!-- <a href="/" class="block px-4 pt-32 text-5xl text-center lg:pt-12 lg:text-left font-script xl:text-7xl" style="text-shadow: 2px 1px 3px #555;">
        {{ site.Title }}
      </a>     -->
    </div>
  {{ else }}
  <div class="items-center px-8 py-8 mb-16 text-center bg-gray-100 md:flex">
    <a href="/" class="block text-4xl text-center font-script xl:text-6xl">
      {{ site.Title }}
    </a>          
    {{ if ne .Type "post" }}
    <h1 class="text-2xl lg:ml-24">{{ .Title}}</h1>    
    {{ end }}
  </div>
  {{ end }}

</header>