{{ $args := dict "menu" "main" "Page" $ }}
<div class="items-center justify-between lg:container md:flex">
{{ with partial "tnd-menus/GetMenu" $args }}
<nav class="flex flex-wrap justify-center font-sans text-xs font-bold text-gray-500 md:text-sm md:justify-start">
  {{ range $MenuEntry := . }}
    {{ template "tnd_menus_menu_entry" . }}
  {{ end }}
</nav>
{{ end }}


<div class="items-center justify-end hidden ml-auto mr-2 text-center text-gray-700 md:flex">
  {{ range partialCached "tnd-socials/GetSocials" "GetSocials" }}
    <a href="{{ .URL }}" class="w-6 mx-2 opacity-60 hover:opacity-100" title="Follow {{ .Handle }} on {{ .Service }}">
      {{ .SVG }}
    </a>
  {{ end }}
</div>
</div>

{{ define "tnd_menus_menu_entry" }}
  {{ $MenuEntry := . }}
  <div class="relative {{ with .Children }} has-dropdown {{ end }}">
  {{ $tag := `span` }}
  {{ with .URL }}
    {{ $tag = `a` }}
  {{ end }}
  {{ $open := printf `<%s` $tag | safeHTML }}
  {{ $close := printf `</%s>` $tag | safeHTML }}

  {{ $open }} 
    class="block uppercase py-3 sm:py-6 px-6 hover:bg-gray-500 hover:text-white {{ if .Active }} bg-gray-100 border-gray-4 {{ end }} "
  href="{{ .URL }}">
    {{ .Name }}
    {{/* {{ if .External }}
    <span class="text-xs">&nearr;</span>
    {{ end }} */}}
    {{ with .Children }}
    <span class="text-xs">&or;</span>
    {{ end }}
  {{ $close }}

  {{ with .Children }}
    {{ $position := "left-1/5 -translate-1/5 top-full" }}
    {{ if gt $MenuEntry.Level 1 }}
      {{ $position = "left-full top-0" }}
    {{ end }}
    <div class="dropdown text-center border bg-white w-screen max-w-xs absolute z-10 {{ $position }}">
      {{ range . }}
        {{ template "tnd_menus_menu_entry" . }}
      {{ end }}
    </div>
  {{ end }}
  </div>
{{ end }}
