---
layout: default
section: books
---
{% assign books_grouped = site.books | group_by: 'category' | sort: 'name' | reverse %}
<div class="has-layout">
  {% include global/page-header.html %}
  {% for book_group in books_grouped %}
    {% assign books = book_group.items | sort: 'date' | reverse %}
    {% for page in books  %}
      <section class="side-content book-meta">
        {% include books/cover.html %}
        <div class="book-meta-data">
          {% include books/meta.html %}
          {% assign now = site.time | date: '%Y%m%d' %}
          {% assign pubdate = page.date | date: '%Y%m%d' %}
          {% if now <= pubdate %}
            {% include modal.html text="Preorder"  %}
          {% else %}
            {% include modal.html text="Buy" %}
          {% endif %}
          {% assign slug = page.url | replace: '/book/', '' | replace: '/', '' %}
          {% assign reviews  = site.categories.reviews | where: 'related_book', slug %}
          {% for review in reviews %}
              {% if forloop.first %}
                <h4 style="margin-top:2em;"><a href="{{ page.url }}#reviews">Click Here to Read Reviews</a></h4>
              {% endif %}
          {% endfor %}
          <hr />
        </div>
      </section>
      <section class="primary-content">
        {% include books/title.html %}
        {{ page.content }}

      </section>
      <hr class="clearing" style="margin:8em auto;" />
    {% endfor %}
  {% endfor %}
</div>
