---
layout: default
section: home
class: home
---
<div class="has-layout" style="padding-bottom:4em;">
<hr style="margin-bottom:2em;" />

<div class="left-column">
  {% include books/books-list.html %}
</div>
<div style="max-width:97%;">
{% assign about = site.data.global %}
  {% for item in about %}
      <p class="lead center">{{ item.hero_copy }}</p>
  {% endfor %}
</div>
<!--

{% assign reviews = site.categories.reviews %}
{% for review in reviews limit: 1 %}
      {% if forloop.first %}
        <h2 id="reviews">Praise for {{ page.title}}</h2>
      {% endif %}
      {% if review.content %}
        {{ review.content | markdownify}}
      {% elsif review.short_quote %}
        {{ review.short_quote | markdownify }}
      {% endif %}
      {% if review.attribution %}
        {% assign attribution = review.attribution  %}
          <strong>— {{ attribution }}</strong>
      {% endif %}
      {% if review.link_to_original %}
      <br /><a href="{{ review.link_to_original }}">original <i class="icon-ext-link"></i></a>
      {% endif %}
      <hr />
    {% endfor %}
 -->





</div>
